div#ChromeSpeechControlDIV div,
div#ChromeSpeechControlDIV img {
    padding: 0;
    margin: 0;
    border: 0;
}
div#ChromeSpeechControlDIV div {
    display: block;
    color: black;
    text-align: left;
    font-family: sans-serif;
    font-size: medium;
    line-height: normal;
}

div#ChromeSpeechControlDIV div#ChromeSpeechControlUI {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 19999999999;
    width: 460px;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlPanel {
    display: none;
    border: 1px solid grey;
    padding: 15px;
    margin: 15px;
    background-color: #f0f0f0;
    border-radius: 6px;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction {
    height:135px;
    width:430px;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction img#ChromeSpeechControlIcon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 120px;
    height: 120px;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox {
    position: absolute;
    bottom: 15px;
    left: 145px;
    width: 300px;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox div.ChromeSpeechControlMessage {
    display: none;
    color: #303030;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top:10px;
    border: 1px solid grey;
    border-radius: 6px;
}

.highlight {
    background-color: yellow;
    color: black;
}