/**
 * css for interacting with videos
*/
div#objectUIDIVBackground {
    background-color: rgb(30, 29, 31);
    opacity: 0.95;
}

div#objectUIDIV {
    opacity: 1;
}
div#objectUIDIVBackground, div#objectUIDIV {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999999999;
    height: 100%;
    width: 100%;
}
#objectGrid {
    z-index: 1999999999;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.objectRow {
    height: 33%;
}
.objectCell {
    float:left;
    height: 100%;
    width: 33%;
    text-align:center;
}
.objectCell img {
    margin: 2%;
    max-width: 96%;
    max-height: 96%;
}

@-webkit-keyframes fadeInRight {
    from{
        left: 200px;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeOutLeft {
    from{
        left: 0;
        opacity: 1;
    }
    to{
        left: -200px;
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}