/**
 * css for interacting with videos
*/
div#objectUIDIVBackground, div#objectUIDIV {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999999999;
    height: 100%;
    width: 100%;

}

div#objectUIDIV{
    opacity: 1;
}

div#objectUIDIVBackground {
    background-color: hsl(270, 3%, 12%);
    opacity: 0.95;
}

#objectGrid {
    z-index: 1999999999;
    display: table;
    width: 60%;
    height: 60%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    table-layout: fixed;
}

.objectRow {
    display: table-row;
    height: 33%;
    table-layout: fixed;
}

.objectCell {
    height: 33%;
    width: 33%;
    float: left;
}
.objectCell img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}