div#ChromeSpeechControlDIV {
    zoom:1;
}

div#ChromeSpeechControlDIV,
div#ChromeSpeechControlDIV div,
div#ChromeSpeechControlDIV img {
    position: static;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto;
    padding: 0;
    margin: 0;
    border: 0;
    background-color:transparent;
    box-sizing:content-box;
    width: auto;
    min-width: unset;
    max-width: unset;
    height: auto;
    max-height: unset;
    min-height: unset;
}

div#ChromeSpeechControlDIV b {
    font-weight:bold;
}

div#ChromeSpeechControlDIV div {
    display: block;
    color: black;
    text-align: left;
    font-family: sans-serif;
    font-size: medium;
    line-height: normal;
}

div#ChromeSpeechControlDIV div#ChromeSpeechControlUI {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 19999999999;
    height:100%;
    width: 0;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlPanel {
    display: none;
    position: absolute;
    bottom: 135px;
    left: 0;
    border: 1px solid grey;
    padding: 15px;
    margin: 15px;
    background-color: #f0f0f0;
    /*border-radius: 6px;*/
    max-height:calc(100% - 197px);
    width:398px;
    overflow-x:hidden;
    overflow-y:auto;
}

div#ChromeSpeechControlPanel.fullHeight {
    height:calc(100% - 197px);
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox div.right,
div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox div.top,
div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox div.bottom,
div#ChromeSpeechControlUI div#ChromeSpeechControlPanel div.left,
div#ChromeSpeechControlUI div#ChromeSpeechControlPanel div.right,
div#ChromeSpeechControlUI div#ChromeSpeechControlPanel div.top,
div#ChromeSpeechControlUI div#ChromeSpeechControlPanel div.bottom {
    color: #404040;
    font-size: medium;
    font-variant-caps: all-small-caps;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox div.left,
div#ChromeSpeechControlUI div#ChromeSpeechControlPanel div.left {
    float: left;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox div.right,
div#ChromeSpeechControlUI div#ChromeSpeechControlPanel div.right {
    float: right;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox div.top,
div#ChromeSpeechControlUI div#ChromeSpeechControlPanel div.top {
    padding-bottom: 10px;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox div.bottom,
div#ChromeSpeechControlUI div#ChromeSpeechControlPanel div.bottom {
    padding-top: 10px;
    text-align: center;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction {
    height:135px;
    width:430px;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction img#ChromeSpeechControlIcon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 120px;
    height: 120px;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox {
    position: absolute;
    bottom: 15px;
    left: 145px;
    width: 300px;
}

div#ChromeSpeechControlUI div#ChromeSpeechControlInteraction div#ChromeSpeechControlMessagesBox div.ChromeSpeechControlMessage {
    display: none;
    color: #303030;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top:10px;
    border: 1px solid grey;
    border-radius: 6px;
}

/* text search module */

.highlight {
    background-color: yellow;
    color: black;
}

/* search engine module */

div#ChromeSpeechControlUI div#ChromeSpeechControlPanel span.SearchEngineResultTitle {
    font-weight: bold;
    color: blue;
}
div#ChromeSpeechControlUI div#ChromeSpeechControlPanel span.SearchEngineResultUrl {
    font-size: smaller;
    color: darkgreen;
}
div#ChromeSpeechControlUI div#ChromeSpeechControlPanel span.SearchEngineResultSnippet {
    font-size: small;
    color: #404040;
}